[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jobli-service-cdk = {editable = true,path = "cdk"}
pytest = "*"
pytest-mock = "*"
pycodestyle = "*"
pylint = "~=2.4.0"
pytest-cov = "*"
pytest-html = "*"
python-dateutil = "*"
mypy = "*"
mypy_boto3 = "*"
python-dotenv = "*"
GitPython = "*"
yapf = "*"
ptvsd = "*"
radon = "*"
xenon = "*"
docker = "*"
requests = "*"

[packages]
boto3 = "*"
pydantic = "*"
aws-lambda-powertools = "*"
aws-lambda-context = "*"
s3fs = "*"
boto3-stubs = {extras = ["cognito-idp", "cloudformation"],version = "*"}

[requires]
python_version = "3.8"
